body {
    font-family: Arial, sans-serif;
    background-color: #0eb38f;


}

header {
    background-color: #0eb38f;
    border-bottom: 8px solid #0eb38f;
}

.header-image {
    margin: 20px auto;
    width: 200px;
    border: 10px solid #c7911b;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #140705;
    margin-bottom: 5px;
}

.column-container {
    background-color: #080706;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center
    width: 500px;
    
}

.column-container h3 {
    background-color: #FAC864;
    color: #0b0c0c;
    padding: 10px 0 5px 10px;
    border-radius: 10px 10px 0 0;
    text-align: center
    
}

.form-container {
    margin: 0 auto;
    padding: 10px;
    background-color: #070605;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center
    
    
}

.create-form {
    background-color: #e2e0dd;

    
}

.create-form h3 {
    text-align: center;
    color: #0b0c0c;
    border-radius: 10px 10px 0 0;
    
}

table tbody tr:nth-child(even) {
    background-color: #d4d4cd;
    
}

table tbody tr:nth-child(odd) {
    background-color: #a5a5a0;
    
}

.input-group-field {
    background-color: #FAC864;
    
}
